@import '../../layouts/Dashboard/theme.scss';

.textcenter {
  text-align: center;
}

p {
  color: $light-grey;
  margin: 0px;
  font-size: 12px;
}

.wth100 {
  width: 100%;
}

.svg-icon {
  width: 25px;
  height: 25px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}
