@import '../../layouts/Dashboard/theme.scss';

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$header-height} - 20px);
}
