@import '../../layouts/Dashboard/theme.scss';

.plr5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.textbold{
    font-weight: bold;
}
.trainingimage{
    width: 100% !important;
    border-radius: 10px;
}
.completed{
    color: $light-grey;
}
.incomplete{
    color: black !important;
}