$primary: #376CAF;
$sub: #6899d7;
$dark-grey: #343f4b;
$light-grey: #969faa;
$slight-grey: #c3c7cc;
$white: #ffffff;
$black: #000;
$light: #f5f6f8;
$light-blue: #e5eef8;
$blue:blue;
$main-blue:#376CAF;
$basic: green;
$premium: darkorange;

$screen-ssm: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-slg: 1100px;
$screen-lg: 1200px;
$screen-sxl: 1300px;
$screen-xl: 1440px;

$header-height: 65px;
$sidebar-width: 250px;
$left-sidebar-width: 305px;

$f-size-lg: 25px;
