@import '../../layouts/Dashboard/theme.scss';

.career-reviews {
  .header {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .content {
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 10px;
      span {
        cursor: pointer;
      }
    }
  }
}